* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

thead th {
  background-color: darkgray;
}

table,
td,
th {
  border: 1px solid;
}

#root {
  position: fixed;
  inset: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.top,
.mid,
.low {
  padding: 2vw;
  flex: 1 1 auto;
}

.mid {
  flex: 1 1 100%;
  overflow-y: auto;
}

.opt {
  display: flex;
}

label.opt {
  margin: 4vh 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.me-4 {
  margin-right: 2vw;
}

.mb-4 {
  margin-bottom: 2vw;
}

.ol-g {
  outline: green solid 1px;
}

.ol-r {
  outline: red solid 1px;
}
